{% import '@Cito/macros.html.twig' as macro %}
<!DOCTYPE html>
{# cito #}
<html lang="de">

<head>
    {% block head %}

        <title>
            {% block title %}{% endblock %}
        </title>

        <meta name="description" content="{% block description %}{% endblock %}">

        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:image" content="{% block ogimage %}{% endblock %}">
        <meta property="og:description" content="{{ block('description') }}">

        <meta charset="UTF-8">

        {% block canonical %}{% endblock %}

        <meta content="noarchive" name="robots">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

        <meta content="#f2f2f2" name="theme-color">
        <meta content="#f2f2f2" name="msapplication-navbutton-color">
        <meta content="#f2f2f2" name="msapplication-TileColor">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

        {{ encore_entry_link_tags('css/main') }}

        {% block stylesheets %}{% endblock %}

    {% endblock %}
</head>

<body class="{{ (body_class is defined) ? body_class : '' }}" id="{{ (body_id is defined) ? body_id : '' }}">

{% for file in encore_entry_js_files('js/main') %}
    <script src="{{ asset(file) }}" defer async></script>
{% endfor %}

{% if not app.environment == 'dev' %}
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>
{% endif %}
{% block javascripts %}{% endblock %}
</body>

</html>
